@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, main { 
	margin:0; 
	padding:0; 
	height:100%; 
	font-family: "Ubuntu";
}

body {
	background: rgb(239,187,1);
	background: linear-gradient(180deg, rgba(239,187,1,1) 29%, rgba(255,223,47,1) 100%);
}

main {
	display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: #3D3D3D;
}

main address {
	text-align: center;
}

main a {
	text-decoration: none;
	font-style: normal;
	font-size: 22px;
	color: #3D3D3D;
	display: flex;
    justify-content: center;
    align-items: center;
}

main a:first-child:before {
	content: "";
	height: 22px;
	width: 22px;
    margin-right: 10px;
    display: inline-block;
	background-image: url(../images/email.svg);
}

main a:last-child:before {
	content: "";
	height: 22px;
	width: 22px;
    margin-right: 10px;
    display: inline-block;
	background-image: url(../images/phone.svg);
}

main img {
	max-height: 150px;
}

main h1 {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 48px;

}
